<h1>お知らせ一覧</h1>
<% @messages.each do |message| %>
<%= message.body %>
  
  <br>
<% end %>

<%= form_for(@message) do |f| %>
  
  No:
  <%= f.text_field :number %>
  
  タイトル:
  <%= f.text_field :title %>
 
  内容:
  <%= f.text_area :body %>
  
 
  <%= f.submit %>
  
  
<% end %>