<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
       <%= link_to "ぞうのみみ", root_path, id: "logo", class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "タイ古式", tie_path %></li>
        <li><%= link_to "メニュー＆料金", menu_path %></li>
        <li><%= link_to "ブログ", blog_path %></li>
        <li><%= link_to "お問合せ＆アクセス", contact_path %></li>
        <li><%= link_to "お知らせ一覧", messages_path %></li>
        
        <% if logged_in? %>
          
          <li><%= link_to "管理ページ", admin_messages_path %></li>
        
          <li><%= link_to "Log out", admin_logout_path, method: "delete" %></li>
        
        
        <% end %>
        
        
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>