<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ぞうのみみ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "タイ古式", root_path %></li>
        <li><%= link_to "メニュー＆料金", root_path %></li>
        <li><%= link_to "ブログ", root_path %></li>
        <li><%= link_to "お問合せ＆アクセス", root_path %></li>
        <li><%= link_to "お知らせ一覧", messages_path %></li>
        
        <% if logged_in? %>
          
        
          <li><%= link_to "Log out", admin_logout_path, method: "delete" %></li>
        
        <% else %>
          <li><%= link_to "Log in", root_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>